In [5]:
import pandas as pd

In [6]:
#name_tes = 'SICK_test_annotated.txt'
name_tra = 'multinli.train.pt.tsv'

In [7]:
train = pd.read_csv(name_tra, sep='\t', error_bad_lines=False)
#test = pd.read_csv(name_tes, sep='\t')

b'Skipping line 3564: expected 3 fields, saw 4\nSkipping line 4896: expected 3 fields, saw 4\nSkipping line 10687: expected 3 fields, saw 4\nSkipping line 11154: expected 3 fields, saw 4\nSkipping line 13808: expected 3 fields, saw 4\nSkipping line 15117: expected 3 fields, saw 4\nSkipping line 16257: expected 3 fields, saw 4\nSkipping line 18341: expected 3 fields, saw 4\nSkipping line 18641: expected 3 fields, saw 4\nSkipping line 18931: expected 3 fields, saw 4\nSkipping line 19212: expected 3 fields, saw 4\nSkipping line 19902: expected 3 fields, saw 4\nSkipping line 22799: expected 3 fields, saw 4\nSkipping line 22845: expected 3 fields, saw 4\nSkipping line 24739: expected 3 fields, saw 4\nSkipping line 25580: expected 3 fields, saw 4\n'

In [8]:
train.shape

(26971, 3)

In [14]:
train[500:2000]

,premise,hypo,label
500,"It's not clear what, if any, effect this spot ...",The spot might have been effective.,None
501,Those components should continue to apply the ...,The parts mentioned should have the usual stan...,Entailment
502,"That is ironic, of course, but the joke is not...",The real joke is the arrogance of fact checking.,Entailment
503,The law does not regulate how much individuals...,The law does not regulate how much individuals...,Paraphrase
504,"Once it was restored, between 1872 and 1876, t...",The restoration of the palace took a major tol...,None
...,...,...,...
1995,"Lunch and dinner daily, 10am 10pm.",Dinner is available from 10 pm to 11 pm.,None
1996,Let the Brits care for the Brits.,No one else should be responsible for caring f...,None
1997,"Aos 65 anos, Les Milne morreu, vítima da doenç...","Les Milne morreu, aos 65 anos, vítima da doenç...",Entailment
1998,"You can tour the pyramids on foot, or take a c...",Horses and camels are used for tourist trips a...,Entailment
1999,"Nesse xadrez, Dilma ainda avalia se a SRI será...","Nesse caso, a Secretaria de Relações Instituci...",Entailment

In [18]:
train.groupby('label').count()

            premise   hypo
label
Entailment    10748  10747
None          13257  13256
Paraphrase     2944   2944

In [13]:
train[train['label']=='contradiction'].count()

premise    0
hypo       0
label      0
dtype: int64

In [26]:
#test[test['entailment_judgment']=='CONTRADICTION'].count()

pair_ID                720
sentence_A             720
sentence_B             720
relatedness_score      720
entailment_judgment    720
dtype: int64

In [27]:
a = 720+665
print(a)

1385

In [28]:
total = test.shape[0] + train.shape[0]
print(total)

9427

In [29]:
print(total-a)

8042

In [31]:
print(train.shape[0]-720)

3780