In [3]:
import pandas as pd

In [6]:
#name_tes = 'SICK_test_annotated.txt'
name_tra = 'multinli.train.pt.tsv'

In [8]:
train = pd.read_csv(name_tra, sep='\t', error_bad_lines=False)
#test = pd.read_csv(name_tes, sep='\t')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [22]:
train.shape

(4500, 5)

In [23]:
#test.shape

(4927, 5)

In [24]:
train.head(2)

,pair_ID,sentence_A,sentence_B,relatedness_score,entailment_judgment
0,1,A group of kids is playing in a yard and an ol...,A group of boys in a yard is playing and a man...,4.5,NEUTRAL
1,2,A group of children is playing in the house an...,A group of kids is playing in a yard and an ol...,3.2,NEUTRAL

In [25]:
train[train['entailment_judgment']=='CONTRADICTION'].count()

pair_ID                665
sentence_A             665
sentence_B             665
relatedness_score      665
entailment_judgment    665
dtype: int64

In [26]:
#test[test['entailment_judgment']=='CONTRADICTION'].count()

pair_ID                720
sentence_A             720
sentence_B             720
relatedness_score      720
entailment_judgment    720
dtype: int64

In [27]:
a = 720+665
print(a)

1385

In [28]:
total = test.shape[0] + train.shape[0]
print(total)

9427

In [29]:
print(total-a)

8042

In [31]:
print(train.shape[0]-720)

3780